@import model.Player
@import model.PlayerStates.THINKING
@import model.PlayerStates.DECIDED
@(playerDtos: List[Player], revealed: Boolean)

@if(playerDtos.isEmpty){
    <script>
            youHaveBeenKicked();
    </script>
}

@for(player <- playerDtos){
    <div class="card">

        <div class="close-icon" onclick="removePlayer('@player.name')">×</div> <!-- Close icon with onclick event -->
        @if(player.state == THINKING){
            <span>💭</span>
            <div class="icon">🤔</div>
        } else {
            @if(revealed){
                <div class="icon item item_@player.choice">@player.choice</div>
            }else{
                <div class="icon">💡</div>
            }
        }
        <div class="text">@player.name</div>

    </div>

}

