@import model.Player
@import model.PlayerStates.THINKING
@(teamName : String, playerName: String, players: List[Player], choices: List[String], revealed: Boolean)

@main(teamName){
    <h1>Poker for team @teamName</h1>
    <script>

        function castVote(player, choice){
            console.log(`${player} voted for ${choice}`)
            fetch("/team/@teamName/vote", {
                method : "POST",
                headers: new Headers({'content-type': 'application/json'}),
                body: JSON.stringify({
                    player,
                    choice
                })
            })
            .then(() => {
                // Dispatch a custom event to trigger player list reload
                document.dispatchEvent(new Event("player-reload"));
            });
        }

        function newRound(){
            console.log(`Started new round`)
            fetch("/team/@teamName/newround")
            .then(() => {
                // Dispatch a custom event to trigger player list reload
                document.dispatchEvent(new Event("player-reload"));
            });
        }
    </script>
    <div style="display: flex" hx-get="/team/@teamName/players" hx-trigger="every 5s, player-reload from:document" hx-swap="innerHTML">
        Loading...
    </div>

    <div style="display: flex">
        @for(choice <- choices){
            <div onclick="" style="margin: 20px;
                border-radius: 2px;
                border: outset gray;
                padding: 10px">
                <input type="submit" onclick='castVote("@playerName", "@choice")' value="@choice">
            </div>
        }
    </div>

    <button type="button" value="star new round" onclick='newRound()'>Start new round</button>

}