@import model.Player
@import model.PlayerStates.THINKING
@(teamName : String, playerName: String, players: List[Player], choices: List[String], revealed: Boolean)

@main(teamName){
    <h1>Poker for team @teamName</h1>
    <script>

        function castVote(player, choice){
            console.log(`${player} voted for ${choice}`)
            fetch("/team/@teamName/vote", {
                method : "POST",
                headers: new Headers({'content-type': 'application/json'}),
                body: JSON.stringify({
                    player,
                    choice
                })
            })
            .then(() => {
                // Dispatch a custom event to trigger player list reload
                document.dispatchEvent(new Event("player-reload"));
            });
        }

        function newRound(){
            console.log(`Started new round`)
            fetch("/team/@teamName/newround")
            .then(() => {
                // Dispatch a custom event to trigger player list reload
                document.dispatchEvent(new Event("player-reload"));
            });
        }

        function removePlayer(playerName) {
            console.log(`Removing player ${playerName}`)
            fetch(`/team/@teamName/players/${playerName}`, {
                method: "DELETE"
            })
            .then(() => {
                // Dispatch a custom event to trigger player list reload
                document.dispatchEvent(new Event("player-reload"));
            });
        }

        function youHaveBeenKicked(){
            console.log(`You have been kicked`)
            window.location = "/team/@teamName"
        }

    </script>
    <div style="display: flex" hx-get="/team/@teamName/players" hx-trigger="load, every 2s, player-reload from:document" hx-swap="innerHTML">
        Loading...
    </div>

    <div class="bottom-row">
        @for(choice <- choices){
            <div style="cursor: pointer" class="item item_@choice" onclick='castVote("@playerName", "@choice")'>@choice</div>
        }
    </div>

    <button type="button" class="start-round-btn" onclick="newRound()">
        <span class="icon">🔄</span>
    </button>

}